@media screen and (min-width: 600px) {
  body {
    font-family: "Tondo";
    background-image: url("../../images/background.png");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
    height: 150vh;
  }
}
