#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nice-dates-navigation,
.nice-dates-day {
  color: #111;
}

.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 480px;
  transition: none;
}

.nice-dates-day {
  font-size: 13px;
}

.nice-dates-day.-period {
  color: #92305e;
}

.nice-dates-day.-ovulation {
  color: #fea900;
}

.nice-dates-week-header_day {
  color: #92305e;
  font-size: 15px;
  margin: 5px;
}

.nice-dates-navigation {
  font-weight: bold;
  text-align: right;
  font-size: 22px;
  margin-top: 20px;
}

.nice-dates-navigation_previous,
.nice-dates-navigation_next {
  display: none;
}

.form {
  width: 150px;
}

.calendartitle {
  text-align: center;
  margin-top: 20px;
}

.cyclepicker {
  color: black;
}
