.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.nice-dates-navigation, .nice-dates-day {
  color: #111;
}
.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 480px;
  transition: none;
}
.calendar {
  width: 50%;
  height: 50%
}

.nice-dates-day.-period { color: red; }
.nice-dates-day.-period2 { color: red; }
.nice-dates-day.-ovulation { color: cornflowerblue; }
.nice-dates-day.-ovulation2 { color: cornflowerblue; }

.form {
  width: 150px;
}